---
import MainLayout from "../layouts/MainLayout.astro";
import tailwind from "../styles/tailwind.css";
import Button from '../components/Button.astro';
import Header from '../components/Header.astro';
import Icon from '../components/Icon.astro';
import Dropdown from '../components/Dropdown.astro';
import Trustpilot from '../components/Trustpilot.astro';
import Card from '../components/Card.astro';
import Deltagercard from '../components/Deltagercard.astro';
import Form from '../components/Card.astro';
import Button2 from '../components/Button2.astro';
import Link from '../components/Link.astro';
import { Image } from 'astro:assets';
import thumbsup from "../assets/images/thumbsup.png";
---

<!DOCTYPE html>
<html lang="en">    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Höjskolen</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
  
  <MainLayout title="Højskolen">
	
    <section>
      <div
        class="hero min-h-screen relative"
        style="background-image: url('travelform1.webp');">
        
        <!-- Header placeres absolut -->
        <div class="fixed top-2 p-2 w-full z-50">
        <Header />
        </div>
      
        <!-- Overlay -->
        <div class="hero-overlay"></div>
      
        <!-- Content -->
        <div class="hero-content text-neutral-content text-center">
        <div class="">
          <h1 class="mb-5 text-7xl font-unbounded text-white">Brochure</h1>
          <h2 class="mb-5 text-2xl font-unbounded text-white">
          Få mere information om dit livs eventyr
          </h2>
          <Button variant="primary" size="medium"><a href="/travelform">Få fat i en brocuhre</a></Button>
        </div>
        </div>
      </div>
      </section>
    
      <!-- Section 1 -->
      <section>
        <div
          class="hero min-h-screen relative"
          style="background-image: url('brochure1.webp');">
          
          <!-- Header placeres absolut -->
          <div class="fixed top-2 p-2 w-full z-50">
          <Header />
          </div>
        
          <!-- Overlay -->
          <div class="hero-overlay"></div>
        
          <!-- Content -->
          <div class="hero-content text-neutral-content text-center">
          <div class="">
            <h1 class="mb-5 text-7xl font-unbounded text-white">Brochure</h1>
            <h2 class="mb-5 text-2xl font-unbounded text-white">
              Få mere information om dit livs eventyr
            </h2>
            <Button variant="primary" size="medium"><a href="/travelform">Få fat i en brocuhre</a></Button>
          </div>
          </div>
        </div>
        </section>
      

        <!-- Section 2 -->
        <section class=" m-sectiontop px-4 pt-15 pb-15 bg-orange text-white font-brico">
          <div class=" container mx-auto grid grid-cols-5 md:grid-cols-3 lg:grid-cols-5 gap-4">
<Icon
iconimage="teambuilding.svg"
iconimagealt="teambulding"
tekst="Team building"
></Icon>
<Icon
iconimage="volunteer.svg"
iconimagealt="volunteer"
tekst="Frivilligt arbejde & kulturforståelse"
></Icon>
<Icon
iconimage="sun.svg"
iconimagealt="friuger"
tekst="Friuger - et væld af muligheder"
></Icon>
<Icon
iconimage="smiley.svg"
iconimagealt="smiley"
tekst="Spændende kulturoplevelser"
></Icon>
<Icon
iconimage="mountain.svg"
iconimagealt="mountain"
tekst="Vilde naturoplevelser"
></Icon>

          </div>
          </section>

       <!-- Section 3 -->

       <section>
        <div
          class="hero min-h-screen relative"
          style="background-image: url('flybackground.webp');">
        
          <!-- Overlay -->
          <div class="hero-overlay"></div>
        
          <!-- Content -->
          <section class="container mx-auto ">
            <h2 class="font-unbounded text-4xl text-brown pb-7">Vores populære ophold</h2>
            <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-3 gap-4">
              <Card
              url="/singleview"
              cardimage="australien.webp"
              cardimagealt="1"
              cardtekst="2 måneder til"
              cardtitel="Australien, Japan, Bali & Gili Islands"
              cardbuttontekst="Læs mere" 
              badgenyt="false"
              badgerabat="false"
              badgefaatilbage="false"
              ></Card>
              <Card
              url="/singleview"
              cardimage="indien.webp"
              cardimagealt="2"
              cardtekst="2 måneder til"
              cardtitel="Indien, Nepal, Vietnam & Sri Lanka"
              cardbuttontekst="Læs mere" 
              badgenyt="false"
              badgerabat="false"
              badgefaatilbage="false"
              ></Card>
              <Card
              url="/singleview"
              cardimage="brasilien.webp"
              cardimagealt="3"
              cardtekst="3 måneder til"
              cardtitel="Brasilien, Colombia, Costa Rica & Mexico"
              cardbuttontekst="Læs mere" 
              badgenyt="false"
              badgerabat="false"
              badgefaatilbage="false"
              ></Card>
            </div>
            <div  class="flex justify-center pt-15">
            <Button>Se flere rejser</Button>
          </div>
          </section>
        </div>
        </section>


       <!-- Section 4 -->


       <!-- Section 5 -->
      
      
       <!-- Section 6 -->


      <!-- Section 7 -->
      <section class="m-sectiontop px-4 pt-15 pb-15 bg-orange">
        <div class="flex justify-center pt-7 pb-10">
          <img src="Trustpilot.svg" alt="trustpilot">
        </div>
     <section class="grid grid-cols-3 gap-4">
      <div>
    <Trustpilot
    time="1 dag siden"
    titel="Fantastisk oplevelse"
    tekst="Min oplevelse med HÖJSKOLENDK var intet mindre end fantastisk."
    navn="Amalie Jensen"
   >
  </div>
  <div>
   <Trustpilot
   time="11 timer siden"
   titel="Hver eneste krone værd"
   tekst="Sidste sommer tog jeg til Australien med Højskolen. Jeg fik oplevelser og venskaber, som jeg for evigt vil elske!"
   navn="Simone Andersen"
  >
</div>
<div>
  <Trustpilot
  time="2 timer siden"
  titel="Hurtigt svar"
  tekst="Jeg fik hurtigt svar, da jeg meldte mig til mit højskoleophold på Bali. Jeg følte, mig vejledt gennem hele processen."
  navn="Emil Rasmussen"
 >
</div>
    </section>
  </section>
    


  </MainLayout>
