---
import MainLayout from "../layouts/MainLayout.astro";
import tailwind from "../styles/tailwind.css";
import Button from '../components/Button.astro';
import Header from '../components/Header.astro';
import Icon from '../components/Icon.astro';
import Dropdown from '../components/Dropdown.astro';
import Trustpilot from '../components/Trustpilot.astro';
import Card from '../components/Card.astro';
import Form from '../components/Card.astro';
import Button2 from '../components/Button2.astro';
import Link from '../components/Link.astro';
import { Image } from 'astro:assets';
import thumbsup from "../assets/images/thumbsup.png";
---

<!DOCTYPE html>
<html lang="en">    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Höjskolen</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
  
  <MainLayout title="Østersøens Vinhandel">
	
    <section>
      <div
        class="hero min-h-screen relative"
        style="background-image: url('wineyard.webp');">
        
        <!-- Header placeres absolut -->
        <div class="fixed top-2 p-2 w-full z-50">
        <Header />
        </div>
      
        <!-- Overlay -->
        <div class="hero-overlay"></div>
      
        <!-- Content -->
        <div class="hero-content text-neutral-content text-center">
        <div class="max-w-md">
          <h1 class="mb-5 text-7xl font-bold">H1: Herosection</h1>
          <h2 class="mb-5">
         H2
          </h2>
          <Button>CTA</Button>
        </div>
        </div>
      </div>
      </section>
    
      <!-- Section 1 -->
      <section class="container mx-auto m-sectiontop px-4 pt-15">
      <h2>Section 1</h2>
      <div class="grid grid-cols-2 gap-4">
        <div>
      <h2>Hvorfor rejse med os?</h2>
      <p>Lorem ipsum</p>
      <p>Lorem ipsum</p>
      <Button></Button>
      <Button></Button>
    </div>
    <img src="" alt="Billede galleri">
    </div>
      </section>
      

        <!-- Section 2 -->
        <section class="container mx-auto m-sectiontop px-4 pt-15">
          <h2>Section 2</h2>
          <div class="grid grid-cols-5 md:grid-cols-3 lg:grid-cols-5 gap-4">
<Icon
iconimage="Japan.webp"
tekst="Lorem ipsum"
></Icon>
<Icon
iconimage="Japan.webp"
tekst="Lorem ipsum"
></Icon>
<Icon
iconimage="Japan.webp"
tekst="Lorem ipsum"
></Icon>
<Icon
iconimage="Japan.webp"
tekst="Lorem ipsum"
></Icon>
<Icon
iconimage="Japan.webp"
tekst="Lorem ipsum"
></Icon>

          </div>
          </section>

       <!-- Section 3 -->
      <section class="container mx-auto m-sectiontop px-4 pt-15">
        <h2 class="">Section 3</h2>
        <h2>Vores populære ophold</h2>
        <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-3 gap-4">
          <Card
          url="/singleview"
          cardimage="Japan.webp"
          cardimagealt="1"
          cardtitel="Destination"
          cardtekst="Lorem ipsum"
          cardbuttontekst="Læs mere" 
          badgenyt="true"
          badgerabat="false"
          badgefaatilbage="false"
          ></Card>
          <Card
          url="/singleview"
          cardimage="Japan.webp"
          cardimagealt="2"
          cardtitel="Destination"
          cardtekst="Lorem ipsum"
          cardbuttontekst="Læs mere" 
          badgenyt="false"
          badgerabat="false"
          badgefaatilbage="false"
          ></Card>
          <Card
          url="/singleview"
          cardimage="Japan.webp"
          cardimagealt="3"
          cardtitel="Destination"
          cardtekst="Lorem ipsum"
          cardbuttontekst="Læs mere" 
          badgenyt="false"
          badgerabat="false"
          badgefaatilbage="false"
          ></Card>
        </div>
        <Button>Læs mere</Button>
    </section>
      
       <!-- Section 4 -->
        <section class="container mx-auto m-sectiontop px-4 pt-15">
          <h2>Section 4</h2>
          <h2>Ofte stillede spørgsmål</h2>
       <Dropdown title="Hvordan tilmelder jeg mig?" content="Her kan du finde information om, hvordan du tilmelder dig." />
       <Dropdown title="Er rejseforsrikring inkluderet i mit ophold?" content="Her kan du finde information om, hvordan du tilmelder dig." />
       <Dropdown title="Hvornår er der infomøder?" content="Her kan du finde information om, hvordan du tilmelder dig."/>
       <Dropdown title="Hvad handler undervisningen om?" content="Her kan du finde information om, hvordan du tilmelder dig."/>
       <Dropdown title="Hvor mange penge kan jeg forvente at bruge på mit ophold?" content="Her kan du finde information om, hvordan du tilmelder dig."/>
       <Button>Find infomøder her</Button>
      </section>



       <!-- Section 5 -->
       <section class="">
        <h2>Section 5</h2>
        <h2>Tidligere deltager</h2>
        <section>
          <div
            class="hero min-h-screen relative"
            style="background-image: url('Japan.webp');">
            
          
            <!-- Overlay -->
            <div class="hero-overlay"></div>
          
            <!-- Content -->
            <div class="">
            <div class="grid grid-cols-3 gap-4">
              <Card
              url="/singleview"
              cardimage="Japan.webp"
              cardimagealt="3"
              cardtitel="Navn, alder, by"
              cardtekst="Lorem ipsum"
              cardbuttontekst="Læs mere" 
              badgenyt="false"
              badgerabat="false"
              badgefaatilbage="false"
              ></Card>
              <Card
              url="/singleview"
              cardimage="Japan.webp"
              cardimagealt="3"
              cardtitel="Navn, alder, by"
              cardtekst="Lorem ipsum"
              cardbuttontekst="Læs mere" 
              badgenyt="false"
              badgerabat="false"
              badgefaatilbage="false"
              ></Card>
              <Card
              url="/singleview"
              cardimage="Japan.webp"
              cardimagealt="3"
              cardtitel="Navn, alder, by"
              cardtekst="Lorem ipsum"
              cardbuttontekst="" 
              badgenyt="false"
              badgerabat="false"
              badgefaatilbage="false"
              ></Card>
          </div>
    </section>


      
      
       <!-- Section 6 -->
        <h2>Section 6</h2>
        <h2>Vi gør en forskel</h2>
       <section class="grid grid-cols-4 gap-4">
        <Icon
        iconimage="Japan.webp"
        tekst="Lorem ipsum"
        ></Icon>
        <Icon
iconimage="Japan.webp"
tekst="Lorem ipsum"
></Icon>
<Icon
iconimage="Japan.webp"
tekst="Lorem ipsum"
></Icon>
<Icon
iconimage="Japan.webp"
tekst="Lorem ipsum"
></Icon>
<Button>Læs mere</Button>
      </section>


      <!-- Section 7 -->
      <h2>Section 7</h2>
      <h2>Trustpilot</h2>
     <section class="grid grid-cols-4 gap-4">
    <Trustpilot
    time="1 dag siden"
    titel="Fantastisk oplevelse"
    tekst="Lorem ipsum dolor sit amet, consectetur adipiscing elit. "
    navn="Amalie Jensen"
   >
   <Trustpilot
   time="1 dag siden"
   titel="Fantastisk oplevelse"
   tekst="Lorem ipsum dolor sit amet, consectetur adipiscing elit. "
   navn="Amalie Jensen"
  >
  <Trustpilot
  time="1 dag siden"
  titel="Fantastisk oplevelse"
  tekst="Lorem ipsum dolor sit amet, consectetur adipiscing elit. "
  navn="Amalie Jensen"
 >
 <Trustpilot
 time="1 dag siden"
 titel="Fantastisk oplevelse"
 tekst="Lorem ipsum dolor sit amet, consectetur adipiscing elit. "
 navn="Amalie Jensen"
>
    </section>

    


  </MainLayout>
