---
import MainLayout from "../layouts/MainLayout.astro";
import tailwind from "../styles/tailwind.css";
import Button from '../components/Button.astro';
import Header from '../components/Header.astro';
import Icon from '../components/Icon.astro';
import Travelform from '../components/Travelform.astro';
import Travelform2 from '../components/Travelform2.astro';
import Dropdown from '../components/Dropdown.astro';
import Trustpilot from '../components/Trustpilot.astro';
import Card from '../components/Card.astro';
import Form from '../components/Card.astro';
import Button2 from '../components/Button2.astro';
import Link from '../components/Link.astro';
import { Image } from 'astro:assets';
import thumbsup from "../assets/images/thumbsup.png";
---

<MainLayout title="Travelform">
	
  
  <section>
    <div
      class="hero min-h-screen relative"
      style="background-image: url('background.webp');">
      
      <!-- Header placeres absolut -->
      <div class="fixed top-2 p-2 w-full z-50">
      <Header />
      </div>
    
      <!-- Overlay -->
      <div class="hero-overlay"></div>
    
      <!-- Content -->
      <div class="hero-content text-neutral-content text-center">
      <div class="">
        <h1 class="mb-5 text-7xl font-unbounded text-white">Dit livs rejse starter her</h1>
        <h2 class="mb-5 text-2xl font-unbounded text-white">
       Vi hjælper med at finde den perfekte rejse til dig
        </h2>
        <section class="grid grid-cols-2 gap-1 pt-15">
        <div>
        <Button variant="primary" size="medium"><a href="#section1">Jeg ved allerede hvor jeg vil hen</a></Button>
      </div>
      <div>
        <Button variant="tertiary" size="medium"><a href="#section1">Jeg ved ikke hvor jeg vil hen</a></Button>
      </div>
    </section>
      </div>
      </div>
    </div>
    </section>

    <section class="bg-orange">
<section class="container mx-auto m-sectiontop px-4"> 

          <div id="section1" class="pt-10 ">
            <div class="pb-7">
            <progress class="bg-beige rounded-full progress progress-orange w-312 h-7 " value="25" max="100"></progress>
            <h2 class="font-unbounded text-4xl text-beige text-center">1/4</h2>
          </div>

          <Travelform
          
        img="travelform1.webp" 
        imgtekst="japan"
        titel="Hvornår vil du gerne rejse?"
        tekst="Er du klar?"
        mulighed1="Så snart som muligt"
        mulighed2="Om 3-6 måneder"
        mulighed3="Om 6-12 måneder"
        mulighed4="Jeg er fleksibel"
        url1="#section2"
        url2="#section2"
        urlbuttontekst2="Næste"
        urlbuttontekst1="Tilbage"
          ></Travelform>
        </div>
      </div>
    </section>

      <div class="bg-beige  pb-15">
        <div class="container mx-auto m-sectiontop px-4">
          <div class="pb-7 pt-7">
            <progress class="bg-orange rounded-full progress progress-orange w-312 h-7 " value="50" max="100"></progress>
            <h2 class="font-unbounded text-4xl text-orange text-center">2/4</h2>
          </div>

          <div id="section2" class="pt-10 ">
          <Travelform2 
          img="travelform2.webp" 
          imgtekst="japan"
          titel="Hvad ønsker du at opleve?"
          tekst="Hvad skal dit fokus være?"
          mulighed1="Frivilligt arbejde"
          mulighed2="Outdoor"
          mulighed3="Afslapning"
          mulighed4="Kulturoplevelser"
          url1="#section1"
           url2="#section3"
          urlbuttontekst2="Næste"
          urlbuttontekst1="Tilbage"
            ></Travelform2>
          </div>
        </div>
        </div>

        <div class="bg-orange  pb-15">
          <div class="container mx-auto m-sectiontop px-4">
            <div class="pb-7 pt-7">
              <progress class="bg-beige rounded-full progress progress-orange w-312 h-7" value="75" max="100"></progress>
              <h2 class="font-unbounded text-4xl text-beige text-center">3/4</h2>
            </div>
 
            <section id="section3">
            <Travelform
            img="travelform3.webp" 
            imgtekst="japan"
            titel="Hvor længe vil du gerne være afsted?"
            tekst="Langt eller kort ophold?"
            mulighed1="1 måned"
            mulighed2="2 måneder"
            mulighed3="3 måneder"
            mulighed4="Jeg er fleksibel"
            url1="#section2"
           url2="#"
            urlbuttontekst2="Næste"
            urlbuttontekst1="Tilbage"
              ></Travelform>
            </div>
            </div>

            <div class="bg-beige  pb-15">
              <div class="container mx-auto m-sectiontop px-4">
                <div class="pb-7 pt-7">
                  <progress class="bg-orange rounded-full progress progress-orange w-312 h-7 " value="100" max="100"></progress>
                  <h2 class="font-unbounded text-4xl text-orange text-center">4/4</h2>
                </div>
      
                <div id="section2" class="pt-10 ">
                <Travelform2 
                img="travelform2.webp" 
                imgtekst="japan"
                titel="Hvor vil du gerne hen?"
                tekst="Hvad skal dit fokus være?"
                mulighed1="Europa"
                mulighed2="Asien og Oceanien"
                mulighed3="Nord-og Sydamerika"
                mulighed4="Afrika"
                url1="#section3"
                 url2="#finale"
                urlbuttontekst2="Næste"
                urlbuttontekst1="Tilbage"
                  ></Travelform2>
                </div>
              </div>
              </div>

            </section>
          </section>

           
  <section id="finale" class="">
    <div
      class="hero min-h-screen relative pt-15 pb-15"
      style="background-image: url('background.webp');">
    
      <!-- Overlay -->
      <div class="hero-overlay"></div>
    
      <!-- Content -->
      <div class="hero-content text-neutral-content ">
      <div class="">
        <h1 class="mb-5 text-7xl font-unbounded text-white pb-10">Vi anbefaler denne rejse </h1>
      <section class="bg-white rounded-3xl grid grid-cols-2 gap-8 p-8">
<div>
  <img class="w-150 pb-4" src="australien.webp" alt="australien">
  <h2 class="font-brico text-brown text-xl ">2 måneder til</h2>
  <h1 class="font-unbounded text-brown text-2xl pb-4">Australien, Japan, Bali & Gili Islands</h1>
  <p class="font-brico text-orange text-xl">UGE 1: Introdage</p>
    <p class="font-brico text-orange text-xl">UGE 1-4: Bali & Gili Islands, Indonesien</p>
    <p class="font-brico text-orange text-xl">UGE 5-6: Byron Bay, Australien</p>
    <p class="font-brico text-orange text-xl">UGE 7-9: Tokyo, Kyoto, Osaka & Hiroshima, Japan</p>
</div>
<div>
  <h2 class="font-brico text-brown text-xl ">Indonesien/Bali</h2>
    <p class="font-brico text-brown text-md pb-4">På Bali venter et eventyr fyldt med natur, kultur og uforglemmelige oplevelser. En skøn ø, der fortryller sanserne med enestående landskaber, vulkaner i horisonten, tropiske regnskove med aber i trætoppene og fede surferbølger, der bare venter på at blive erobret. På Gili Islands gemmer sig et sandt tropeparadis, hvor palmerne svinger blidt i vinden, og de hvide sandstrande strækker sig langt ud i horisonten.</p>
    <h2 class="font-brico text-brown text-xl ">Australien</h2>
    <p class="font-brico text-brown text-md pb-4">I storslåede Australien, bor vi i den hippe og ungdommelige surfer-by Byron Bay, der ligger på østkysten i New South Wales. Byen er særligt kendt for sine smukke strande, brusende surferbølger og afslappede livsstil og tiltrækker backpackere fra hele verden. Australien er et gigantisk land med både storbyer, lækre strande, bjerge, nationalparker, koralrev, ørken og outback – men især den fantastiske natur og det unikke dyreliv, gør landet så fascinerende. Her kan man møde både kænguruer, koalaer, papegøjer, wallabies, pingviner, wombats, den tasmanske djævel, emuer og kameler (den er god nok – der er mere end én million vilde kameler i Australien) på sin vej gennem landet „down under“.</p>
    <h2 class="font-brico text-brown text-xl ">Japan</h2>
    <p class="font-brico text-brown text-md pb-4">I Japan besøger vi både Tokyo, Kyoto og Hiroshima og tager desuden til Osaka på en dagstur, der hver især byder på deres egen version af Japans unikke historie og kultur. Her tager vi på opdagelse i pulserende storbyer, hyggelige landsbyer og smukke naturområder. Vi smager på det lækre japanske køkken, besøger hellige templer, ser Mount Fuji, vandrer i de berømte bambus-skove, synger karaoke, oplever anime- og manga-kulturen og hvis programmet passer, skal vi naturligvis ind og opleve sumobrydning. Der venter os en unik og kæmpefed kultur-oplevelse i Japan.</p>
    <section class="grid grid-cols-2 gap-3 pt-7">
      <div>
      <Button variant="tertiary" size="medium"><a href="#section1">Nej tak</a></Button>
    </div>
    <div>
      <Button variant="primary" size="medium"><a href="#section1">Den tager jeg!</a></Button>
    </div>
    </section>
</div>
      </section>
      </div>
      </div>
    </div>
    </section>

  </MainLayout>
