---
import MainLayout from "../layouts/MainLayout.astro";
import tailwind from "../styles/tailwind.css";
import Button from '../components/Button.astro';
import Header from '../components/Header.astro';
import Icon from '../components/Icon.astro';
import Travelform from '../components/Travelform.astro';
import Travelform2 from '../components/Travelform2.astro';
import Dropdown from '../components/Dropdown.astro';
import Trustpilot from '../components/Trustpilot.astro';
import Card from '../components/Card.astro';
import Form from '../components/Card.astro';
import Button2 from '../components/Button2.astro';
import Link from '../components/Link.astro';
import { Image } from 'astro:assets';
import thumbsup from "../assets/images/thumbsup.png";
---

<MainLayout title="Travelform">
	
    <div class="top-2 p-2 w-full z-50">
        <Header />
        </div>

        <ul class="steps">
            <li class="step step-primary">Register</li>
            <li class="step">Choose plan</li>
            <li class="step">Purchase</li>
            <li class="step">Receive Product</li>
          </ul>

          <Travelform
        img="Japan.webp" 
        imgtekst="japan"
        titel="Hvor vil du gerne hen?"
        tekst="Hvilken verdensdel drømmer du mest om?"
        mulighed1="Europa"
        mulighed2="Sydamerika"
        mulighed3="Asien"
        mulighed4="Afrika"
        url="/singleview"
        urlbuttontekst2="Næste"
        urlbuttontekst1="Tilbage"
          ></Travelform>

          <ul class="steps">
            <li class="step step-primary">Register</li>
            <li class="step step-primary">Choose plan</li>
            <li class="step">Purchase</li>
            <li class="step">Receive Product</li>
          </ul>

          <Travelform2
          img="Japan.webp" 
          imgtekst="japan"
          titel="Hvor vil du gerne hen?"
          tekst="Hvilken verdensdel drømmer du mest om?"
          mulighed1="Europa"
          mulighed2="Sydamerika"
          mulighed3="Asien"
          mulighed4="Afrika"
          url="/singleview"
          urlbuttontekst2="Næste"
          urlbuttontekst1="Tilbage"
            ></Travelform2>

            <ul class="steps">
              <li class="step step-primary">Register</li>
              <li class="step step-primary">Choose plan</li>
              <li class="step step-primary">Purchase</li>
              <li class="step">Receive Product</li>
            </ul>
 
            <Travelform
            img="Japan.webp" 
            imgtekst="japan"
            titel="Hvor vil du gerne hen?"
            tekst="Hvilken verdensdel drømmer du mest om?"
            mulighed1="Europa"
            mulighed2="Sydamerika"
            mulighed3="Asien"
            mulighed4="Afrika"
            url="/singleview"
            urlbuttontekst2="Næste"
            urlbuttontekst1="Tilbage"
              ></Travelform>

  </MainLayout>
