---
---
<section class="bg-brown pt-15 pb-15 text-orange">
    <div class="container mx-auto ">
        <div class="md:grid grid-cols-3">
            <div>
                <h3 class="font-unbounded text-xl">Højskolen</h3>
                <p class="font-brico">Rosenørns Allé 31</p>
                <p class="font-brico">1970 Frederiksberg</p>
                <p class="font-brico">Danmark</p> 
                <div class="flex gap-4 pt-4">
                    <img src="facebook.svg" alt="">
                    <img src="instagram.svg" alt="">
                    <img src="youtube.svg" alt="">
                    <img src="tiktok.svg" alt="">
                </div>
            </div>
            <div>
                <h3 class="font-unbounded text-xl">Kontakt</h3>
                <p class="font-brico">Telefon: 7027 9007</p>
                <p class="font-brico">Mandag til Fredag // Kl. 10.00-16.00</p>
                <p class="font-brico">Mail: infor@hojskolen.dk</p> 
                <div class="flex gap-4 pt-4">
                    <img src="mail.svg" alt="">
                    <img src="skype.svg" alt="">
                    <img src="linkedin.svg" alt="">
                </div>
            </div>
            <div>
                <h3 class="font-unbounded text-xl">Samarbejdspartnere</h3>
                <img src="Samarbejde.svg" alt="">
            </div>
        </div>
        <div class="divider divider-orange"></div>
        <div class="md:grid grid-cols-3">
            <div>
            <p class="font-brico text-xs">HÖJSKOLENDK er medlem af Rejsegarantifonden</p>
        </div>
        <div>
            <p class="font-brico text-xs">Handelsbetingelser / Cookiepolitik / Data- & Privatlivspolitik</p>
        </div>
        <div>
            <p class="font-brico text-xs">Copyright © HÖJSKOLENDK 2022 • CVR 32491162</p>
        </div>
        </div>
    </div>
</section>

