---
const { iconimage="", iconimagealt="", tekst="" } = Astro.props;
---

<div >
    <div class="flex justify-center">
        <img
       src={iconimage}
       alt={iconimagealt} />
    </div>
    <div class="flex justify-center">{tekst}</div>
</div>