---
const { href = "#", target = "_self", variant = "primary", size = "medium" } = Astro.props;

const linkStyling = "px-8 py-2  rounded-3xl shadow-md font-brico";

const variantClasses = {
    "textlink": "underline text-blue-800",
    "primary": "bg-orange text-white transition delay-150 duration-200 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-orange-20  cursor-pointer",
    "secondary": "bg-green text-darkgreen transition delay-150 duration-200 ease-in-out hover:-translate-y-1 hover:scale-110  cursor-pointer",
    "tertiary": "bg-beige text-orange transition delay-150 duration-200 ease-in-out hover:-translate-y-1 hover:scale-110  cursor-pointer",
};

const sizeClasses = {
  "large": "text-lg",
     "medium": "text-base",
      "small": "text-sm"
};
---

<a href={href} target={target} class:list={[linkStyling, variantClasses[variant], sizeClasses[size]]}>
    <slot />
</a>
