---
const { time="", titel="", tekst="", navn="" } = Astro.props;
--- 

<div class="carousel rounded-box bg-white">
  <div class="carousel-item">
    <div class="grid grid-cols-2 gap-4">
      <div>
      <img
      src="stjerner.svg"
      alt="Rating" />
    </div>
    <div>
      <p>{time}</p>
    </div>
  </div>
  <div>
  <h3>{titel}</h3>
  <p>{tekst}</p>
  <p>{navn}</p>
</div>
  </div>
</div>